@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-feature-settings: 'rlig' 1, 'calt' 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
